<form method="post" action="/edit/<%= @record_id %>">
  <%= flash[:error_message] %>
  <input type="text" name="title" value="<%= params['title'] || @record[:title] %>" class="form-control border-secondary mb-4">
  <textarea name="description" rows="20" class="form-control border-secondary mb-4"><%= params['description'] || @record[:description] %></textarea>
  <input type="submit" value="保存" class="btn d-block text-white bg-secondary w-25 mx-auto">
  <input type="hidden" value="patch" name="_method">
</form>
