<p class="mb-4"><%= flash[:delete_message] %></p>

<% @records.each do |record| %>
  <ul>
    <li>
      <a href="/memo/<%= record[0] %>" class="border-bottom d-block w-100 mb-2"><%= record[1] %></a>
    </li>
  </ul>
<% end %>
